.poshagovaya-forma #bokali {
  margin: 15px;
}
.poshagovaya-forma #bokali .glass {
  width: 102px;
  height: 146px;
  background-color: white;
  border: 1px solid #8b959f;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 3px;
  position: relative;
  text-align: center;
  float: left;
}
.poshagovaya-forma #bokali .glass:hover .hint {
  visibility: visible;
}
.poshagovaya-forma #bokali .glass:hover .hint:before {
  width: 150px;
}
.poshagovaya-forma #bokali .glass:not( :nth-child(4n-4)) {
  margin-right: 11px;
}
.poshagovaya-forma #bokali .glass:nth-last-child(n+5) {
  margin-bottom: 10px;
}
.poshagovaya-forma #bokali .glass img {
  display: inline-block;
  vertical-align: middle;
}
.poshagovaya-forma #bokali .glass:before {
  content: " ";
  display: inline-block;
  height: 100%;
  width: 1%;
  vertical-align: middle;
}
.poshagovaya-forma #bokali .glass .choose-btn {
  width: 100%;
  height: 28px;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
  border-top: 1px solid #68a6d5;
  background: linear-gradient(to top, #5e91d1 0%, #8bbfe9 100%);
  text-align: center;
}
.poshagovaya-forma #bokali .glass .choose-btn span {
  display: inline-block;
  font-size: 13px;
  color: #ffffff;
  font-family: "Arial";
  line-height: 28px;
  position: relative;
}
.poshagovaya-forma #bokali .glass .choose-btn span:before {
  content: "\f00c";
  font-family: "FontAwesome";
  font-size: 9px;
  padding-right: 4px;
  display: inline-block;
  position: absolute;
  left: -13px;
}
